@import url('https://fonts.googleapis.com/css?family=Poppins');
.element {
  all: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Ensures full height for layout purposes */
}

#menu {
  margin-top: 15px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu_items {
  display: inline-flex;
  position: relative;
  list-style-type: none;
  width: 430px;
}
#menu_items li a {
  color: #333;
  text-decoration: none;
  margin-right: 75px;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
#menu_items li a:hover {
  color: #b88e2f;
}
span#icon_items {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 300px;
  fill: black;
}
span#icon_items svg:hover {
  fill: #b88e2f;
}
span#icon_items svg {
  cursor: pointer;
}
/* Breadcrumb */
div#breadcrumb {
  height: 100px;
  background-color: #f9f1e7;
}
#breadcrumb {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  padding-left: 8.5%;
}

#breadcrumb p {
  display: inline;
  font-weight: 300;
  font-family: Poppins;
  color: #141414;
  
}

#breadcrumb span {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#breadcrumb img {
  padding-right: 20px;
}
#breadcrumb a {
  display: inline;
  font-family: Poppins;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  color: #9F9F9F;
  margin-right: 20px;
 
}
.line-1 {
  height: 37px;
  margin-bottom: 12px;
  background-color: #9F9F9F;
  width: 1px;
  margin: 0 20px 0px 20px;
}
/* Product Description*/
#Images{
  width: 50%;
  height:700px ;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
#ProductInfo{
  width: 50%;
  font-family: Poppins;
}
div#Section2{
  display: flex;
}
div.Small-imgs{
  height: 416px;
  display: grid;
  margin-right: 30px;
}
p#ProductTitle{
  font-family: Poppins;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 30px;
}
div#ProductInfo span{
  display: flex;
  align-items: center;
  font-family: Poppins;
  color: #9F9F9F;
}
div#ProductInfo span img{
  height: 20px;
  
}
p#ProductDescription{
  width:400px;
  font-family: Poppins;
}
p#ProductPrice{
  font-family: Poppins;
}

#size{
  display: flex;
  justify-content: space-between;
  width: 130px;

}
.SelectRadio {
  display: flex;
  width: 38px;
  height: 38px;
  justify-content: center;
  color:#141414;
  align-items: center;
  background-color:#F9F1E7;
  border-radius: 5px;
  font-family: Poppins;
  cursor: pointer;

}
.active{
  background-color: #b88e2f;
  color: #F9F1E7;
} 

#Color{
  display: flex;
  justify-content: space-between;
  width: 120px;

}

.SelectColor{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-bottom: 30px;
}

.SelectColor#Purple{
  background-color: #816DFA;
}

.SelectColor#Black{
  background-color: #141414;
}

.SelectColor#Gold{
  background-color: #b88e2f;
}

.ActiveColor{
  outline:3px solid #b88e2f;
}

button.ghostBtn {
  width: 215px ;
  height:64px ;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 15px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  outline: 1px;
  cursor: pointer;
}
#Purchase_Actions{
  display: flex;
}

#counter{
  width: 120px;
  display: flex;
  border:2px solid #141414;
  justify-content: space-between;
  border-radius: 10px;
  margin-right: 8px;
  
}
#counter button{
  background-color: transparent;
  border: none;
  font-family: Poppins;
  font-size:18px ;
  cursor: pointer;
}
#counter p{
font-family: Poppins;
}





/*Footer*/
#Section_3 {
  height: 1900px;
}
.Fixed {
  margin-top: -174px;
  position: absolute;
  margin-left: 12px;
  cursor: pointer;
}

#Logo_section {
  display: flex;
  width: 285px;
  flex-direction: column;
  align-items: flex-start;
}

#footer_container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

button#subscribe {
  margin-left: 12px;
  width: 90px;
  padding: 1px 0px 1px 0px;
  border-left: #ffffff00;
  border-right: #ffffff00;
  border-top: #ffffff00;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 4px;
  cursor: pointer;
  font-family: Poppins;
}
::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(180, 180, 180);
}

input#email {
  border-color: #333333;
  border-left: #ffffff00;
  border-right: #ffffff00;
  border-top: #ffffff00;
  background-color: #ffffff;
  color: #303030;
  padding-bottom: 4px;
  transition: box-shadow 0.3s ease;
}

input#email:focus::placeholder {
  color: transparent;
}

input#email:focus {
  outline: none;
  border-color: #b88e2f;
  border-left: #ffffff00;
  border-right: #ffffff00;
  border-top: #ffffff00;
  background-color: #ffffff;
  color: #292929;
}

button#subscribe:hover {
  color: #b88e2f;
  border-bottom: 2px solid #b88e2f;
}

div.Link_section li:hover {
  color: #b88e2f;
}

p.Title {
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  color: #9f9f9f;
  margin-top: 0px;
}

div.Link_section li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  margin-top: 40px;
  cursor: pointer;
}

div.Link_section ul {
  padding-left: 0px;
}

p#address {
  font-size: 16px;
  font-weight: 300;
  font-family: Poppins;
  color: #9f9f9f;
  padding-top: 50px;
}

div.copyright {
  padding: 20px 0px 20px 0px;
  height: 38px;
  margin-left: 7%;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  color: #131313;
}
.line-2 {
  height: 1px;
  background: black;
  margin-bottom: 12px;
  background-color: #efefef;
  width: 90%;
  margin: 0 auto 0px auto;
}
/*End Footer*/