@import url('https://fonts.googleapis.com/css?family=Poppins');
.element {
  all: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Ensures full height for layout purposes */
}

#menu {
  margin-top: 15px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu_items {
  display: inline-flex;
  position: relative;
  list-style-type: none;
  width: 430px;
}
#menu_items li a {
  color: #333;
  text-decoration: none;
  margin-right: 75px;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
#menu_items li a:hover {
  color: #b88e2f;
}
span#icon_items {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 300px;
  fill: black;
}
span#icon_items svg:hover {
  fill: #b88e2f;
}
span#icon_items svg {
  cursor: pointer;
}
/* Breadcrumb */
div#breadcrumb {
  height: 100px;
  background-color: #f9f1e7;
}
#breadcrumb {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  padding-left: 8.5%;
}

#breadcrumb p {
  display: inline;
  font-weight: 300;
  font-family: Poppins;
  color: #141414;
  
}

#breadcrumb span {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#breadcrumb img {
  padding-right: 20px;
}
#breadcrumb a {
  display: inline;
  font-family: Poppins;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  color: #9F9F9F;
  margin-right: 20px;
 
}
.line-1 {
  height: 37px;
  margin-bottom: 12px;
  background-color: #9F9F9F;
  width: 1px;
  margin: 0 20px 0px 20px;
}
/* Product Description*/
#Images{
  width: 50%;
  height:700px ;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
#ProductInfo{
  width: 50%;
  font-family: Poppins;
}
div#Section2{
  display: flex;
}
div.Small-imgs{
  height: 416px;
  display: grid;
  margin-right: 30px;
}
p#ProductTitle{
  font-family: Poppins;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 30px;
}
div#ProductInfo span{
  display: flex;
  align-items: center;
  font-family: Poppins;
  color: #9F9F9F;
}
div#ProductInfo span img{
  height: 20px;
  
}
p#ProductDescription{
  width:400px;
  font-family: Poppins;
}
p#ProductPrice{
  font-family: Poppins;
}

#size{
  display: flex;
  justify-content: space-between;
  width: 130px;

}



.SelectRadio {
  display: flex;
  width: 38px;
  height: 38px;
  justify-content: center;
  color:#141414;
  align-items: center;
  background-color:#F9F1E7;
  border-radius: 5px;
  font-family: Poppins;
  cursor: pointer;

}
.active{
  background-color: #b88e2f;
  color: #F9F1E7;
} 